.mac-book-air1-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.mac-book-air1-mac-book-air1 {
  width: 100%;
  height: 832px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.mac-book-air1-rectangle4 {
  top: 221px;
  left: 48px;
  width: 461px;
  height: 511px;
  position: absolute;
  border-radius: 35px;
}
 
.mac-book-air1-rectangle5 {
  top: 221px;
  left: 576px;
  width: 461px;
  height: 511px;
  position: absolute;
  border-radius: 35px;
}
 
.mac-book-air1-component25 {
  top: 572px;
  left: 640px;
  width: 333px;
  height: 33.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-air1-rectangle310 {
  top: 0px;
  left: 0px;
  width: 333px;
  height: 33px;
  opacity: 0.50;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
 
.mac-book-air1-text10 {
  top: 5px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text11 {
  top: 5px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text12 {
  top: 5px;
  left: 283px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-component24 {
  top: 531px;
  left: 640px;
  width: 333px;
  height: 33.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-air1-rectangle311 {
  top: 0px;
  left: 0px;
  width: 333px;
  height: 33px;
  opacity: 0.50;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
 
.mac-book-air1-text13 {
  top: 5px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text14 {
  top: 5px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text15 {
  top: 5px;
  left: 283px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-component23 {
  top: 490px;
  left: 640px;
  width: 333px;
  height: 33.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-air1-rectangle312 {
  top: 0px;
  left: 0px;
  width: 333px;
  height: 33px;
  opacity: 0.50;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
 
.mac-book-air1-text16 {
  top: 5px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text17 {
  top: 5px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text18 {
  top: 5px;
  left: 283px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-gh75p3n364p4vxe-m8-fh-ng48x481 {
  top: 497px;
  left: 698px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.mac-book-air1image-wj-h-lb-biqo9x-e2e2mw3opq48x481 {
  top: 537px;
  left: 698px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.mac-book-air1image5dqf-o-kpjj-w6-ew-t-ax-fys-kq48x481 {
  top: 578px;
  left: 698px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.mac-book-air1-component22 {
  top: 449px;
  left: 640px;
  width: 333px;
  height: 33.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-air1-rectangle313 {
  top: 0px;
  left: 0px;
  width: 333px;
  height: 33px;
  opacity: 0.50;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
 
.mac-book-air1-text19 {
  top: 5px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text20 {
  top: 5px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text21 {
  top: 5px;
  left: 283px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-component21 {
  top: 408px;
  left: 640px;
  width: 333px;
  height: 33.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-air1-rectangle314 {
  top: 0px;
  left: 0px;
  width: 333px;
  height: 33px;
  opacity: 0.50;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
 
.mac-book-air1-text22 {
  top: 5px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text23 {
  top: 5px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text24 {
  top: 5px;
  left: 283px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-component20 {
  top: 367px;
  left: 640px;
  width: 333px;
  height: 33.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-air1-rectangle315 {
  top: 0px;
  left: 0px;
  width: 333px;
  height: 33px;
  opacity: 0.50;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
 
.mac-book-air1-text25 {
  top: 5px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text26 {
  top: 5px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text27 {
  top: 5px;
  left: 283px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-component18 {
  top: 285px;
  left: 640px;
  width: 333px;
  height: 33.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-air1-rectangle316 {
  top: 0px;
  left: 0px;
  width: 333px;
  height: 33px;
  opacity: 0.50;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
 
.mac-book-air1-text28 {
  top: 5px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text29 {
  top: 5px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text30 {
  top: 5px;
  left: 283px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-fh-bi-tr-ilb-qxh-vb6-ijx-uo6q48x481 {
  top: 334px;
  left: 698px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.mac-book-air1k3-qm-ke98-dnohrcea0j-fg-q48x481 {
  top: 374px;
  left: 698px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.mac-book-air1-uy-n-nelfn-fv-c-ens-lr-u-lj2q48x481 {
  top: 415px;
  left: 698px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.mac-book-air1qo-uce0wqb-yqnk-sm-n6-tx-ga48x481 {
  top: 456px;
  left: 698px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.mac-book-air1c3j47ea36c-m-bc4x-pbp9aa-a48x481 {
  top: 292px;
  left: 698px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.mac-book-air1-component19 {
  top: 326px;
  left: 640px;
  width: 333px;
  height: 33.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-air1-rectangle317 {
  top: 0px;
  left: 0px;
  width: 333px;
  height: 33px;
  opacity: 0.50;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
 
.mac-book-air1-text31 {
  top: 5px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text32 {
  top: 5px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text33 {
  top: 5px;
  left: 283px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text34 {
  top: 82px;
  left: 215px;
  color: rgba(136, 12, 158, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-image1 {
  top: 67px;
  left: 48px;
  width: 194px;
  height: 109px;
  position: absolute;
}
 
.mac-book-air1-component1 {
  top: 280px;
  left: 122px;
  width: 333px;
  height: 33.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-air1-rectangle318 {
  top: 0px;
  left: 0px;
  width: 333px;
  height: 33px;
  opacity: 0.50;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
 
.mac-book-air1-text38 {
  top: 5px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text39 {
  top: 5px;
  left: 283px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-download {
  top: 7px;
  left: 58px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.mac-book-air1-zr6-fb-e8p-dh7u-bp-wco8u9a48x481 {
  top: 533px;
  left: 180px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.mac-book-air1image96-cc-nnq0ayd-abss-p0v9-lu-q48x481 {
  top: 574px;
  left: 180px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.mac-book-air1-ic-othr-k04b-rl-rw-i3r0y-a48x481 {
  top: 615px;
  left: 180px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.mac-book-air1z44la0w1v5-fmg-pnem-v6-xw48x481 {
  top: 451px;
  left: 180px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.mac-book-air1ek-ie0e-z-iph-ocf-q-awsu-eeq48x481 {
  top: 656px;
  left: 180px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.mac-book-air1n-gf-v05dipb-ac7zzojiv-kew48x481 {
  top: 328px;
  left: 180px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.mac-book-air1image8pi-q-oznd-gm-ap-ky-tcvy-n9v-a48x481 {
  top: 369px;
  left: 180px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.mac-book-air1b-xkiy-izsb-dip3x2f-fc-uu3a48x481 {
  top: 410px;
  left: 180px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.mac-book-air1-ud-q6ns69-pct-cv143h-ge-yw48x481 {
  top: 492px;
  left: 180px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.mac-book-air1-text40 {
  top: 82px;
  left: 215px;
  color: rgba(136, 12, 158, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-image2 {
  top: 67px;
  left: 48px;
  width: 194px;
  height: 109px;
  position: absolute;
}
 
.mac-book-air1-component9 {
  top: 321px;
  left: 122px;
  width: 333px;
  height: 33.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-air1-rectangle319 {
  top: 0px;
  left: 0px;
  width: 333px;
  height: 33px;
  opacity: 0.50;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
 
.mac-book-air1-text44 {
  top: 5px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text45 {
  top: 5px;
  left: 283px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  opacity: 0.90;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-component10 {
  top: 362px;
  left: 122px;
  width: 333px;
  height: 33.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-air1-rectangle320 {
  top: 0px;
  left: 0px;
  width: 333px;
  height: 33px;
  opacity: 0.50;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
 
.mac-book-air1-text46 {
  top: 5px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text47 {
  top: 5px;
  left: 283px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-component11 {
  top: 526px;
  left: 122px;
  width: 333px;
  height: 33.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-air1-rectangle321 {
  top: 0px;
  left: 0px;
  width: 333px;
  height: 33px;
  opacity: 0.50;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
 
.mac-book-air1-text48 {
  top: 5px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text49 {
  top: 5px;
  left: 283px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-component12 {
  top: 567px;
  left: 122px;
  width: 333px;
  height: 33.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-air1-rectangle322 {
  top: 0px;
  left: 0px;
  width: 333px;
  height: 33px;
  opacity: 0.50;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
 
.mac-book-air1-text50 {
  top: 5px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text51 {
  top: 5px;
  left: 283px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-component13 {
  top: 608px;
  left: 122px;
  width: 333px;
  height: 33.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-air1-rectangle323 {
  top: 0px;
  left: 0px;
  width: 333px;
  height: 33px;
  opacity: 0.50;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
 
.mac-book-air1-text52 {
  top: 5px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text53 {
  top: 5px;
  left: 283px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-component14 {
  top: 403px;
  left: 122px;
  width: 333px;
  height: 33.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-air1-rectangle324 {
  top: 0px;
  left: 0px;
  width: 333px;
  height: 33px;
  opacity: 0.50;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
 
.mac-book-air1-text54 {
  top: 5px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text55 {
  top: 5px;
  left: 283px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-component15 {
  top: 444px;
  left: 122px;
  width: 333px;
  height: 33.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-air1-rectangle325 {
  top: 0px;
  left: 0px;
  width: 333px;
  height: 33px;
  opacity: 0.50;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
 
.mac-book-air1-text56 {
  top: 5px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text57 {
  top: 5px;
  left: 283px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-component16 {
  top: 485px;
  left: 122px;
  width: 333px;
  height: 33.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-air1-rectangle326 {
  top: 0px;
  left: 0px;
  width: 333px;
  height: 33px;
  opacity: 0.50;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
 
.mac-book-air1-text58 {
  top: 5px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text59 {
  top: 5px;
  left: 283px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-component17 {
  top: 649px;
  left: 122px;
  width: 333px;
  height: 33.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-air1-rectangle327 {
  top: 0px;
  left: 0px;
  width: 333px;
  height: 33px;
  opacity: 0.50;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
 
.mac-book-air1-text60 {
  top: 5px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text61 {
  top: 5px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text62 {
  top: 5px;
  left: 283px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-text63 {
  top: 92px;
  left: 455px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air1-link {
  display: contents;
}
 
.mac-book-air1-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.mac-book-air1-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.mac-book-air1-text64 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
