.mac-book-air2-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.mac-book-air2-mac-book-air2 {
  width: 100%;
  height: 832px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.mac-book-air2-text10 {
  top: 82px;
  left: 215px;
  color: rgba(136, 12, 158, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air2-image1 {
  top: 67px;
  left: 48px;
  width: 194px;
  height: 109px;
  position: absolute;
}
 
.mac-book-air2-rectangle4 {
  top: 280px;
  left: 368px;
  width: 543px;
  height: 271px;
  position: absolute;
  border-radius: 35px;
}
 
.mac-book-air2image4us2n-cgl6kg-zc0t3hp-w75q96x961 {
  top: 381px;
  left: 731px;
  width: 96px;
  height: 96px;
  position: absolute;
}
 
.mac-book-air2-text14 {
  top: 288px;
  left: 401px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air2-text15 {
  top: 106px;
  left: 433px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air2-text16 {
  top: 401px;
  left: 935px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air2-text17 {
  top: 399px;
  left: 169px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air2-text18 {
  top: 363px;
  left: 571px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 96px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air2-text19 {
  top: 477px;
  left: 421px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air2-text20 {
  top: 477px;
  left: 740px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air2-text21 {
  top: 288px;
  left: 828px;
  color: rgba(0, 0, 0, 1);
  width: 116px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-air2image96-cc-nnq0ayd-abss-p0v9-lu-q96x961 {
  top: 381px;
  left: 421px;
  width: 96px;
  height: 96px;
  position: absolute;
}
 
.mac-book-air2-download2 {
  top: 46px;
  left: 1155px;
  width: 76px;
  height: 76px;
  position: absolute;
}
 
.mac-book-air2-link {
  display: contents;
}
 
.mac-book-air2-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.mac-book-air2-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.mac-book-air2-text22 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
