@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
}

/* Reset, damit alles genau wie im HTML ist */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}