.mac-book-air2-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.mac-book-air2-mac-book-air2 {
  width: 100%;
  height: 832px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.mac-book-air2-text10 {
  top: 82px;
  left: 215px;
  color: rgba(136, 12, 158, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
}
 
.mac-book-air2-image1 {
  top: 67px;
  left: 48px;
  width: 194px;
  height: 109px;
  position: absolute;
}
 
.mac-book-air2-rectangle4 {
  top: 280px;
  left: 368px;
  width: 543px;
  height: 271px;
  position: absolute;
  border-radius: 35px;
  background-color: rgba(224, 224, 224, 1); /* Hintergrundfarbe hinzugefügt */
}
 
.mac-book-air2image4us2n-cgl6kg-zc0t3hp-w75q96x961 {
  top: 381px;
  left: 731px;
  width: auto;
  height: 96px;
  position: absolute;
}
 
.mac-book-air2-text14 {
  top: 288px;
  left: 401px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
}
 
.mac-book-air2-text18 {
  top: 363px;
  left: 571px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 96px;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
}
 
.mac-book-air2-text19 {
  top: 477px;
  left: 470px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  transform: translateX(-50%); /* Zentrierung beibehalten */
  width: max-content;
}
 
.mac-book-air2-text20 {
  top: 477px;
  left: 780px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  transform: translateX(-50%); /* Zentrierung beibehalten */
  width: max-content;
}
 
.mac-book-air2-text21 {
  top: 288px;
  left: 800px;
  color: rgba(0, 0, 0, 1);
  width: 116px;
  height: auto;
  position: absolute;
  font-size: 20px;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
}
 
.mac-book-air2image96-cc-nnq0ayd-abss-p0v9-lu-q96x961 {
  top: 381px;
  left: 421px;
  width: auto;
  height: 96px;
  position: absolute;
}
 
.mac-book-air2-download2 {
  top: 46px;
  left: 1155px;
  width: 76px;
  height: 76px;
  position: absolute;
}